# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.iobj
*.log
*.tlog
*.pdb
*.enc
*.user
*.idb
*.db
*.ipdb
*.opendb
*.ilk
*.suo
*.ipch
*.cmake
*.bin
*.sln
*.vcxproj*
*.check_cache*
*.stamp.rule
*.stamp
*.list
*/CMakeFiles/*
*.db-shm
*.db-wal
*CMakeCache.txt